<p id="notice"><%= notice %></p>


<%=  image_tag(@image, :alt => "Business profile pic") %>
<h2> <%= @title %> </h2>
 <a href="http://www.instagram.com/<%=@business.name%>" target="_blank">
 <%= image_tag("link to insta.jpg", :class=>"logo2") %> </a>
<p>
<strong> <%= @business.name %>  </strong>
</p>
 <p><%= @description %></p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'instasouq';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<% if signed_in? %>
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
<%end%>
