<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container contain-to-grid">
      <%= link_to "Main system", root_path, id: "logo" %>
      <nav>
        <section class="top-bar-section">
      <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
		  <li><%= link_to "Businesses",  businesses_path %></li>
          <li><%= link_to "addNewBus",    addB_path %></li>
          <% if signed_in? %>
			  	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
			<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
			<li><a href="mailto:alikuwar@qatar.cmu.edu?Subject=Problem%20with%20Database">Report a Problem</a></li>
        </ul>
		</section>
      </nav>
    </div>
  </div>
  </div>
</header>