<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business_category.business_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @business_category.category_id %>
</p>

<%= link_to 'Edit', edit_business_category_path(@business_category) %> |
<%= link_to 'Back', business_categories_path %>
