<p id="notice"><%= notice %></p>

<h1>Listing Suggested Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Requester</th>
      <th>Business name</th>
      <th>Verified</th>
    </tr>
  </thead>

  <tbody>
    <% @suggested_businesses.each do |suggested_business| %>
      <tr>
        <td><%= suggested_business.requester %></td>
        <td><%= suggested_business.business_name %></td>
		<td><%= suggested_business.verified %></td>
        <td><%= link_to 'Show', suggested_business %></td>
        <td><%= link_to 'Edit', edit_suggested_business_path(suggested_business) %></td>
        <td><%= link_to 'Destroy', suggested_business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> If third value is true that means the suggested business doesn't exist </p>

<br>

<%= link_to 'New Suggested business', new_suggested_business_path %>
