<header id="header-container" class="navbar navbar-static-top navbar-inverse">
  <div id="nav-bar header-nav" class="nav navbar nav-pills contain-to-grid navbar-default navbar-static-top">
	<div id="logo"><%= link_to image_tag("Final-logo.jpg", :alt => "logo"), root_path %></div>
      <nav>
     <section class="top-bar-section">
      <ul class="nav navbar-nav pull-left">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "Suggest A Business",  new_suggested_business_path %></li>
		  <li><%= link_to "Businesses",    main_path %></li>
          <% if signed_in? %>
			  	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
				<li><%= link_to "Businesses",  businesses_path %></li>
		  <li><%= link_to "Categories",  categories_path %></li>
		  <li><%= link_to "Businesses + Categories",  business_categories_path %></li>
			<% else %>
				<li><%= link_to "Admin Only", signin_path %></li>
			<% end %>
			<li><a href="mailto:juniorproject2016@outlook.com ?Subject=Problem%20with%20InstaSouq">Report a Problem</a></li>
        </ul>
	 </section>
    </nav>
    </div>
</header>